* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #eaeaea;
    color: #333;
    line-height: 1.6;
    padding: 2px;

}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #ef3820;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.title h2 {
    font-size: 24px;
}

.title p {
    font-size: 16px;
    opacity: 0.9;
}

.logo img {
    max-width: 130px;
}

.section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #ed4a34;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.section h2 {
    margin-bottom: 15px;
    color: #ed4a34;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table thead {
    background-color: #ed4a34;
    color: white;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #f0f8ff;
}

.contact-form {
    display: flex;
    flex-direction:column;
    gap: 15px;
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ed4a34;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button[type="submit"] {
    padding: 12px;
    background-color: #ed4a34;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background-color: #ed4a34;
}


footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ccc;
}
